<!-- ROS 1 launch file. For ROS 2 use gopro_to_asl.launch.py -->
<launch>
  <arg name="gopro_video" default="/vid.mp4"/>
  <arg name="gopro_folder" default="/vid_folder"/>
  <arg name="asl_dir" default="/path/to/asl_dir"/>
  <arg name="multiple_files" default="false"/>
  <arg name="scale" default="0.5"/>
  <arg name="grayscale" default="true"/>
  <arg name="display_images" default="false"/>

  <node pkg="gopro_ros2" type="gopro_to_asl" name="gopro_to_asl" output="screen" required="true">
    <param name="gopro_video" value="$(arg gopro_video)"/>
    <param name="asl_dir" value="$(arg asl_dir)"/>
    <param name="scale" value="$(arg scale)"/>
    <param name="grayscale" value="$(arg grayscale)"/>
    <param name="display_images" value="$(arg display_images)"/>
    <param name="gopro_folder" value="$(arg gopro_folder)"/>
    <param name="multiple_files" value="$(arg multiple_files)"/>
  </node>
</launch>
